@charset "utf-8";
:root{
    --highlight-color: #C9EDFF;/*#FFA200*/
    
}

@font-face{
    font-family: montSemiBold;
    src: url(../fonts/Montserrat/Montserrat-Bold.tff);
}
@font-face{
    font-family: montLight;
    src: url(../fonts/Montserrat/Montserrat-Light.tff);
}
/*BODY*/
#head{
    flex-direction: row;
    margin-bottom: 0px;
    float: left;
    
}

#banner{
    position: fixed;
    cursor: pointer;
    float: left;
    width: 5.21vw; 
    margin-left: 2.08vw;
}

#nav{
    flex-direction: row;
    float: left;
    font-family: montMed;
    font-weight: 100;
    font-size: 1.04vw;
    letter-spacing: 0.15em;
    margin-top: 8.1vw;
    margin-left: 7.6vw;
    color: #E8E8E8;
}

.navBtn{
    z-index: 10;
    cursor: pointer;
    margin-left: 0.52vw;
    margin-right: 0.52vw;
}

#about{
    margin-top: 3.2vw;
}

#portrait{
    width: 22.9vw;
    margin-left: 8.3vw;
}

#info{
    font-family: montExtraLight;
    font-size: 1.6vw;
    letter-spacing: 0.12em;
    color: white;
    margin-left: 1.04vw;
    line-height: 4.1vw;
    margin-top: -1.3vw;
}

b{
    font-family: montReg;
    color: var(--highlight-color);
}

button{
    cursor: pointer;
    background: none;
    color: white;
    text-align: left;
    opacity: 0.4;
    padding: 0;
    margin-top: 0.52vw;
    margin-bottom: 0.52vw;
    border: none;
    font-family: montReg;
    font-weight: bold;
    font-size: 1.04vw;
    letter-spacing: 0.14vw;
}

.header{
    color: white;
    font-family: montReg;
    font-weight: bold;
    font-size: 1.6vw;
    letter-spacing: 0.14vw;
    flex-direction: row;
}

#filterSection{
    flex-direction: column;
}

#title{
    color: var(--highlight-color);
}

#selected{
    margin-left: 0.7vw;
    margin-bottom:0.52vw; 
}

#projects{
    flex-direction: column;
}

#projNav{
    flex-direction: column; 
    margin-left: auto;
    margin-right: 8.3vw;
    transition: opacity 0.5s ease-in-out, transform 0.75s ease-in-out;
}

#filters{
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0.7vw;
}

#gallery{
    max-width: 66vw;
    margin-left: 8.3vw;
    flex-wrap: wrap;
    justify-content: space-between;    
    transition: opacity 0.5s ease-in-out, transform 0.75s ease-in-out;
}

.img{
    justify-content: center;
}

.projImg{
    filter: grayscale(100%);
    transition: filter 0.25s ease-in-out;
    z-index: -1;
    width:100%;
    height: auto;
    object-fit: cover;
}

.projName{
    opacity: 0;
    text-align: center;
    max-width: 100%;
    height: auto;
    position: absolute;
    flex-direction: column;
    color:white;
    font-family: montReg;
    font-weight: bold;
    align-self: center;
    transition: opacity .25s ease-in-out;
    filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.3));
}

.projTitle{
    flex-direction: column;
    align-self: center;
    font-weight: 100;
    font-style: italic;
}

.img:hover{
    cursor: pointer;
}

.img:hover > .projName{
    opacity: 1;
    transition: opacity .25s ease-in-out;
}

.projName:hover{
    cursor: pointer;
}

.img:hover > .projImg{
    filter: grayscale(0%) blur(1px);
    z-index: -1;
    transition: filter 0.25s ease-in-out;
}

.web{
    width: 100%;
    padding-bottom: 1.04vw;
    justify-content: center;
    font-size: 1.3vw;
    letter-spacing: 0.14vw;
}

.mobile{
    width: 100%;
    padding-bottom: 1.04vw;
    justify-content: center;
    font-size: 1.3vw;
    letter-spacing: 0.14vw;
}

#projectDescriptions{
    width: 100%;
    transform: translateX(150%);
    opacity: 0;
    display: none;
    justify-content: flex-start;
    transition: opacity 0.5s ease-in-out, transform 0.75s ease-in-out;
}

.back{
}

#backBtn{
    width: 1.4vw;
    height: 1.7vw;
    cursor: pointer;
}

#slider{
    transition: opacity 0.5s ease-in-out, transform 0.75s ease-in-out;
}

.projWindow{
    width: 100%;
    max-width: 66vw;
    margin-left: 8.3vw;
    flex-direction: column;
}

.projHeader{
    width: 100%;
    justify-content: space-between;
}

.projHeaderText{
    
    flex-direction: column;
    color: white;
    font-family: montMed;
    font-size: 1.3vw;
    letter-spacing: 0.14vw;
    text-align: end;
    font-weight: bolder;
    justify-content: flex-end;
}

.projHeaderDesc{
    font-family: montReg;
    font-size: 0.937vw;
    margin-top: 0.52vw;
}

.projGal{
    flex-direction: column;
}

.projGalImg{
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-top: 2.08vw;
    max-height: 37.4vw;
    max-width: 66vw;
    height: auto;
    filter: drop-shadow(0px 0px 2.4vw rgba(0, 0, 0, 1.0));
    display: none;
    cursor: pointer;
}

.projGalSlide{
    justify-content:center;
    margin-top: 1.04vw;
}

.dot{
    cursor: pointer;
    height: 0.52vw;
    width: 3.8vw;
    margin-left: 1.04vw;
    margin-right: 1.04vw;
    background-color: rgba(255,255,255, 0.6);
    border-radius: 0.5vw;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover{
    opacity: 0.4;
}

#slideClicked{
    background-color: rgba(255,162,0, 1);
    transition: background-color 0.6s ease;
}

#footer{
    position: static;
    justify-content: center;
    text-align: center;
    color: rgb(255,255,255,0.6);
    font-family: montReg;
    font-size: 1.04vw;
    letter-spacing: 0.14vw;
    margin-top: 2.8vw;
    margin-bottom: 0.5vw;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    overflow: auto;
}

.modal-content {
    width: 100%;
    max-width: 1920px;
    height: 100%;;
    display: block;
    margin: auto;
    object-fit: scale-down;
}

.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (min-width: 1920px) {
    body {
        width: 1840px;
        margin: auto;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    #banner{
        float: left;
        width: 100px;
        height: 180px;
        margin: 0;
    }
    
    #nav{
        float: left;
        font-size: 20px;
        letter-spacing: auto;
        margin-top: 156px;
        color: #E8E8E8;
        margin-left: 110px;
    }
    
    #about{
        margin-top: 60px;
    }
    
    #portrait{
        width: 440px;
        margin-left: 120px;
    }
    
    #info{
        font-size: 30px;
        line-height: 80px;
        margin-top: -25px;
    }
    
    #projNav{
        margin-right: 0;
    }
    
    #selected{
        margin-left: 20px;
        margin-bottom:10px; 
    }
    
    button{
        font-size: 20px;
        letter-spacing: 3px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .header{
        font-size: 30px;
        letter-spacing: 3px;
    }
    
    #projects{
        margin-top: 120px;
    }
    
    #gallery{
        width: 1400px;
        margin-left: 120px;
    }
    
    .projWindow{
        margin-left: 120px;
    }
    
    #projectDescriptions{
        width: 1400px;
        margin-left: 120px;
    }
    
    .projGal{
        max-width: 1400px;
        
    }
    
    .projGalImg{
        max-width: 1400px;
        max-height: 1080px;
    }

    .projGalSlide{
        margin-top: 20px;
    }
}