@charset "utf-8";

/*********************
        FONTS
********************/
@font-face {
  font-family: segoeui;
  src: url(../fonts/segoeui.ttf);
}

/*********************
        MAIN
********************/
*{
    margin: 0px;
    cursor: default;
}

body {
    background-color:#171717;
    font-family: segoeui;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 4%;
}

section{
  /*Makes the section a container for flex box*/
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

a{
    text-decoration: none;
    color: #C0C0C0;
    cursor: pointer;
}

#wrapper{
    flex-direction: column;
    width: 100%;
    height: auto;
}

#head{
    /*
    position: -webkit-sticky; 
    position: sticky;
    top: 1.04vw;
    z-index: -1;*/
    margin-top: 1.04vw;
    margin-left: 1.04vw;
    margin-right: 1.04vw;
    
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    font-size: 1.04vw;/*20px/1920 * 100 = 1.04*/
    color: #C0C0C0;
}
/*********************
     MEDIA QUERIES
********************/