@charset "utf-8";

/*********************
        FONTS
********************/
@font-face {
  font-family: segoeui;
  src: url(../fonts/segoeui.ttf);
}
@font-face {
  font-family: montExtraLight;
  src: url(../fonts/Montserrat/Montserrat-ExtraLight.ttf);
}
@font-face {
  font-family: montThin;
  src: url(../fonts/Montserrat/Montserrat-Thin.ttf);
}
@font-face {
  font-family: montReg;
  src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
  font-family: montMed;
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

/*********************
        MAIN
********************/
*{
    margin: 0px;
    cursor: default;
}

#wrapper{
    flex-direction: column;
    height: auto;
}


a:link{
    background: none; 
    color: #E8E8E8;
    font-family: montMed;
    margin: 0;
    padding: 0;
    border: none;
    
}

a:hover{
    cursor: pointer;
}

a:visited{
    color: #FFA200;
}

a:active{
    color: #FFA200;
    outline: none;
    background: none;
}

section{
  /*Makes the section a container for flex box*/
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

body {
    background-color: #1A1A1A;
    background-image: url(../assets/Icons/BG.svg);
}